@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Assistant";
    src: url("/fonts/Assistant/Assistant-Regular.ttf") format("truetype");
  }
}

:root {

}

body {
  font-family: "Assistant";
}
